.atf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
    background: linear-gradient(45deg, #1c1c1c 23%, #ffca1b 300%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.atf_headline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 5dvh;
}

.left_border {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 5%;
    bottom: 0;

    .vertical_line {
        width: 1px;
        height: 22dvh;
        background-color: #e8b91b;
        margin-top: 24px;
    }
}

.scroll_indicator {
    padding: 13px 10px;
    border: solid 1px #ffca1b;
    border-radius: 100px;

    img {
        animation: scrollBounce 1.5s ease-in-out infinite;
    }
}

.right_border {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 5%;
    bottom: 0;

    .vertical_line {
        width: 1px;
        height: 18dvh;
        background-color: white;
        margin-top: 24px;
    }
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;

    a {
        height: 32px;
    }

    div {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        padding-top: 12px;
    }
}