.about_me_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
}

.about_me_content {
    position: relative;
    width: 90%;
    height: 90%;

    .selfie {
        width: 45%;
        border-radius: 30px;
        position: absolute;
        top: 50px;
        left: 0px;
    }
}

.text_container {
    width: 45%;
    position: absolute;
    bottom: 0px;
    right: 0px;

    .text_content {
        background-color: #e8b81b1a;
        border-radius: 30px;
        padding: 5%;
        border: solid 1px #e8b91b
    }

    h4 {
        color: #e8b91b;
    }

    h2 {
        color: #e8b91b;
    }


}

.checkpoint {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    color: #ffffffb0;

    img {
        width: 32px;
        height: 32px;
    }

    p {
        margin: 0;
    }
}