.skill_set {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100dvh;
}

.white_color {
  color: white;
}

.skill_set_content {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 100px;
  margin-top: 50px;
}

.skills {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  width: 200%;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 110px;

  p{
    text-align: center;
  }

  :hover{
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
  }

  img{
    width: 80px;
  }
}

.font_16{
  font-size: 16px;
}