.skill_set {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100dvh;
}

.skill_set_container {
    position: relative;
    width: 90%;
    height: 90%;
}