.skill_set {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100dvh;
}

.mainColor {
    color: #e8b91b;
}

.skill_set_content {
    display: flex;
    justify-content: center;
    align-items: start;
}

.skill_img {
    width: 200%;
    max-height: 100%;

    img {
        margin-left: calc(25% - 64px);
    }
}